<link rel="stylesheet" href="/css/cart.css">
<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
             <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.productId.title %></h1>
                            <h2>Quantity: <%= p.quantity %></h2>
                        </li>
                    <% }) %>
                </ul>
                <div class="centered"> 
                    <h2> Total: <%= totalSum %> </h2>
                </div>
                <div class="centered"> 
                    <button id="order-btn" class="btn">ORDER</button>
                    <script src="https://js.stripe.com/v3/"></script>
                    <script>
                        var stripe = Stripe('pk_test_51Iro7IJIHlpRHY8CHDbnsY8KCAXexgb37gMGAlQUWcjL4F9fBEqx67ivnYEPRJCk5u7mANt3T3qv4SeeE4sOeJYx00COMYP6nB');
                        var orderBtn = document.getElementById('order-btn')
                        orderBtn.addEventListener('click', () => {
                            stripe.redirectToCheckout({
                                sessionId: '<%= sessionId %>',
                            });
                        });
                    </script>   
                </div>
        </main>
        <%- include('../includes/end.ejs') %>